# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [20]:
## Aggregate amount spent for unique customers
amount_spent_per_customers = orders[['CustomerID','amount_spent','Country']].groupby(['CustomerID','Country']).sum().reset_index()
amount_spent_per_customers.head(10)

   CustomerID         Country  amount_spent
0       12346  United Kingdom      77183.60
1       12347         Iceland       4310.00
2       12348         Finland       1797.24
3       12349           Italy       1757.55
4       12350          Norway        334.40
5       12352          Norway       2506.04
6       12353         Bahrain         89.00
7       12354           Spain       1079.40
8       12355         Bahrain        459.40
9       12356        Portugal       2811.43

In [21]:
amount_spent_per_customers['amount_spent'].describe()

count      4347.000000
mean       2050.013320
std        8980.103578
min           0.000000
25%         307.430000
50%         671.960000
75%        1661.195000
max      280206.020000
Name: amount_spent, dtype: float64

In [45]:
## Select customers whose amount spent is in a given quantile range :
def getCustomersBetweenSpentValueInQuantilRange(minQ,maxQ, df):
    return df[(df.amount_spent >= df['amount_spent'].quantile(minQ)) & (df.amount_spent <= df['amount_spent'].quantile(maxQ))]

#The first group is VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile (aka. 0.95 quantile). 
#The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.
VIPs = getCustomersBetweenSpentValueInQuantilRange(0.96,1, amount_spent_per_customers)
Preffereds = getCustomersBetweenSpentValueInQuantilRange(0.75,0.95, amount_spent_per_customers)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [47]:
# Q2: How to identify which country has the most VIP Customers?
VIPs["count"] = 1
VIPs.groupby('Country').sum().sort_values(by=['count'], ascending = False)['count']

<ipython-input-47-a8408b8e7888>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  VIPs["count"] = 1

Country
United Kingdom     140
France               8
Germany              8
EIRE                 2
Japan                2
Portugal             2
Spain                2
Switzerland          2
Australia            1
Channel Islands      1
Denmark              1
Finland              1
Netherlands          1
Norway               1
Singapore            1
Sweden               1
Name: count, dtype: int64

In [48]:
Preffereds['count'] = 1
VIPs_plus_Preffereds = pd.concat([VIPs, Preffereds])

<ipython-input-48-7a3ff39f5f4d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Preffereds['count'] = 1

In [49]:
#Q3: How to identify which country has the most VIP+Preferred Customers combined?
VIPs_plus_Preffereds.groupby('Country').sum().sort_values(by=['count'], ascending = False)['count']

Country
United Kingdom     896
Germany             36
France              28
Belgium             11
Switzerland          8
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Japan                4
Australia            4
Channel Islands      4
EIRE                 3
Denmark              3
Cyprus               2
Sweden               2
Israel               2
Iceland              1
Austria              1
Greece               1
Lebanon              1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Name: count, dtype: int64